{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}

{% block body %}
<div class="containerConnexion">
    <div class="blockColors">
        <h1>SE CONNECTER</h1>
        <a href="/connect/spotify"><img src="/assets/images/logoSpotify.png" alt=""> Se connecter à l'aide de spotify</a>
    </div>
</div>
{% endblock %}
