{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
    <div class="blockHome">
        <div class="containerBubble">
            <img src="/assets/images/bubble.png" alt="">
            <p>Faites le points avec vos goûts !</p>
        </div>
        <div class="containerSide">
            <div class="containerFirstText">
                <p>Sauvegarder <br> vos résultats et retrouver les</p>
            </div>
            <div class="containerConnexionBlock">
                {% if app.user %}
                    <p>Accédez à vos tops</p>
                    <a href="/tracks" class="buttonColor">Vos tops</a>
                {% else %}
                    <p>Connectez-vous à Spotify</p>
                    <a href="/login" class="buttonColor">Se connecter</a>
                {% endif %}
                
            </div>
        </div>
    </div>
{% endblock %}
