*{
  list-style: none;
  text-decoration: none;
  padding: 0;
  margin: 0;
  color: white;
  font-family: 'montserrat';
}

nav{
  background: linear-gradient(90deg, #F7B4B4 0%, #FFB992 100%);
  height: 86px;
  font-family: 'glory', sans-serif;
}

nav ul{
  display: flex;
  justify-content: space-between;
  height: 100%;
}

nav ul li ul{
  padding-right: 25px;
  align-items: center;
}

nav ul li ul li{
  padding-left: 50px;
  font-weight: 500;
  font-size: 23px;
}

nav .firstElement{
  display: flex;
  align-items: center;
  padding-left: 25px;
}

nav li .title{
  font-family: 'Baloo 2', cursive;
  font-size: 34px;
  font-weight: 700;
}

nav li img{
  width: 43px;
  height: 39px;
  padding-left: 15px;
}

.blockHome{
  background: url("../images/backgroundHome.png");
  background-size: cover;
  display: flex;
  justify-content: space-between;
}

.blockHome .containerBubble{
  width: 50%;
  height: 820px;
  position: relative;
}

.blockHome .containerBubble img{
  position: absolute;
  width: 100%;
  height: 100%;
}

.blockHome .containerBubble p{
  font-family: "Baloo 2", cursive;
  font-size: 100px;
  font-weight: 500;
  width: 425px;
  height: 409px;
  padding-left: 80px;
  line-height: 110px;
  padding-top: 70px;
  z-index: 2;
  position: relative;
}

.blockHome .containerSide{
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-right: 50px;
}

.blockHome .containerSide .containerFirstText{
  font-weight: 700;
  font-size: 50px;
}

.blockHome .containerSide .containerFirstText p{
  color: #F1789A;
  height: 300px;
  text-align: right;
  padding-top: 75px;
  padding-right: 50px;
}

.blockHome .containerSide .containerConnexionBlock{
  padding-top: 60px;
  width: 516px;
  padding-right: 115px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.blockHome .containerSide p{
  width: 516px;
  height: 184px;
  font-family: 'Baloo 2', cursive;
  font-weight: 600;
  font-size: 70px;
  line-height: 80px;
  text-align: right;
  color: #76ADCA;
}

a.buttonColor{
  width: 312px;
  height: 79px;
  background: linear-gradient(90deg, #F7B6B4 0%, #FFB992 100%);
  font-family: Glory;
  font-weight: 600;
  font-size: 35px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer{
  background: linear-gradient(90deg, #F7B4B4 0%, #FFB992 100%);
  display: flex;
  justify-content: space-between;
  height: 80px;
}

footer p, footer a{
  padding: 30px;
  font-size: 18px;
}

footer a{
  text-decoration: underline;
}

.containerConnexion{
  background: url("../images/backgroundHome.png");
  background-size: cover;
  height: 85vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.containerConnexion .blockColors{
  width: 600px;
  height: 385px;
  background: linear-gradient(143.7deg, #F7B4B4 0%, #FAB6A9 0.01%, #FAB6A9 0.02%, #FFB992 100%);
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.containerConnexion .blockColors h1{
  font-family: 'baloo 2', cursive;
  margin-top: 25px;
  font-weight: 700;
  font-size: 40px;
}

.containerConnexion .blockColors a{
  border: solid 3px #ffffff;
  border-radius: 100px;
  display: flex;
  align-items: center;
  width: 440px;
  font-weight: 400;
  font-size: 20px;
  margin-top: 60px;
}

h1.title{
  color: #FF6792;
  font-size: 39px;
  font-weight: 500;
  margin-left: 100px;
  margin-top: 50px;
}

.tabs ul li{
  color:#898989;
  font-size: 21px;
  cursor: pointer;
}

.tabs ul .active{
  position: relative;
}

.tabs ul .active::after{
  position: absolute;
  content: "";
  height: 5px;
  left: 0;
  right: 0;
  background-color: #F7B4B4;
  bottom: -24px;
  border-radius: 2px;
  transition: 2s;
}

.tabs{
  margin: 0 100px;
  border-bottom: solid 3px #E0E0E0;
  padding-bottom: 20px;
  margin-bottom: 30px;
  margin-top: 50px;
}

.tabs .list{
  display: flex;
  gap: 60px;
}

.contents {
  margin: 0px 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.content{
  width: 100%;
  display: none;
}

.content.artists, .content.saves{
  flex-wrap: wrap;
  column-gap: 20%;
  row-gap: 50px;
  margin-top: 50px;
  justify-content: center;
}

.content.artists.show{
  display: flex;
}

.content.saves.show{
  display: flex;
}

.content.show{
  display: initial;
}

.song{
  display: flex;
  align-items: center;
  height: 75px;
  width: 100%;
  margin-bottom: 30px;
  position: relative;
}

.song p{
  color: black;
  width: 30%;
  text-align: center;
  font-weight: 500;
  font-size: 18px;
}

.song img{
  width: 75px;
  height: 75px;
}

.song .rank{
  font-size: 24px;
  font-weight: 500;
  width: 70px;
}

.song::after{
  content: "";
  position: absolute;
  height: 1px;
  bottom: -15px;
  left: 40px;
  right: 40px;
  background-color: #EAEAEA;
}

.artist{
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.artist img{
  width: 320px;
  height: auto;
}

.artist .containerCard{
  position: absolute;
  height: 50px;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: white;
  border-radius: 10px 10px 0 0;
  overflow: hidden;
  padding: 10px 20px;
  display: flex;
  align-items: center;
}

.artist .containerCard p{
  color: black;
  font-size: 18px;
}

.artist .containerCard p.rank{
  margin-right: 10px;
}

.saves{
  margin-bottom: 75px;
}

.save{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 20px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  border-radius: 15px;
  height: 175px;
  justify-content: space-around;
}

.save *{
  color: black;
}

.save p{
  font-weight: 500;
  font-size: 18px;
}

.save a{
  font-size: 18px;
  padding: 15px;
  border-radius: 18px;
  background: linear-gradient(90deg, #F7B4B4 0%, #FFB992 100%);
  color: white;
}

.save a:hover{
  font-weight: 500;
  background: white;
  color: black;
  border: solid 2px #F7B4B4;
}

nav .fa-bars{
  display: none;
}

@media only screen and (max-width: 1300px){
  .blockHome .containerBubble p{
    font-size: 85px;
    padding-left: 30px;
    width: 60%;
  }
}

@media only screen and (max-width: 1000px){
  .blockHome{
    flex-direction: column;
  }

  .blockHome .containerBubble{
    width: 100%;
    height: auto;
    background: linear-gradient(90deg, #F7B4B4 0%, #FFB992 100%);
    border-bottom-left-radius: 100% 15%;
    border-bottom-right-radius: 100% 15%;
  }

  .blockHome .containerBubble p{
    width: 90%;
    padding: 0 50px 0 50px;
    text-align: center;
    font-size: 65px;
  }

  .blockHome .containerBubble img{
    display: none;
  }

  nav ul li ul{
    flex-direction: column;
    height: 100vh;
    background: linear-gradient(360deg, #F7B4B4 0%, #FFB992 100%);
    z-index: 3;
    position: fixed;
    top: 0;
    right: 0;
    justify-content: flex-start;
    width: 300px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }

  .menu{
    transform: translateX(330px);
    transition: 0.3s;
  }

  .menu.menuDisplay{
    transform: translateX(0px);
  }

  nav ul li ul li{
    margin-top: 40px;
    margin-bottom: 60px;
  }

  nav .fa-bars{
    display: block;
    position: absolute;
    left: -50px;
    top: 20px;
    font-size: 35px;
    cursor: pointer;
  }

  .blockHome .containerSide{
    flex-direction: column-reverse;
    width: 100%;
  }

  .blockHome .containerSide .containerConnexionBlock{
    padding: 0;
    align-items: center;
    width: 100%;
    margin-top: -50px;
    z-index: 2;
  }

  .blockHome .containerSide .containerConnexionBlock a{
    background: #ff9191;
    border-radius: 20px;
  }

  .blockHome .containerSide .containerConnexionBlock p{
    display: none;
  }

  .blockHome .containerSide .containerFirstText p{
    padding: 0;
    text-align: center;
    padding-top: 30px;
  }

  .blockHome .containerSide .containerFirstText{
    width: 100%;
    display: flex;
    justify-content: center;
  }
}

@media only screen and (max-width: 700px){
  h1.title, .tabs, .contents{
    margin-left: 50px;
    margin-right: 50px;
  }
}

@media only screen and (max-width: 600px){
  .song p{
      font-size: 15px;
  }

  .song .rank{
    font-size: 20px;
  }

  .song img{
    width: 55px;
    height: 55px;
  }
}

@media only screen and (max-width: 550px){
  .blockHome .containerBubble p{
    font-size: 50px;
    width: 80%;
    line-height: 80px;
  }

  .blockHome .containerSide .containerFirstText p{
    font-size: 50px;
    padding: 0 20px 0 20px;
    line-height: 70px;

  }

  h1.title, .tabs, .contents{
    margin-left: 20px;
    margin-right: 20px;
  }

  .artist img{
    width: 250px;
  }

  .tabs ul li{
    font-size: 17px;
  }

  .tabs .list{
    gap: 30px;
  }
}
